<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgkx.procurement.mapper.DemandMapper">
  <resultMap id="BaseResultMap" type="com.xgkx.procurement.entity.Demand">
    <id column="demand_id" jdbcType="INTEGER" property="demandId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="bath_id" jdbcType="INTEGER" property="bathId" />
    <result column="is_meet" jdbcType="BOOLEAN" property="isMeet" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    demand_id, item_id, unit_id, `count`, org_id, bath_id, is_meet, create_by, create_time,
    update_by, update_time
  </sql>

  <select id="getMyOrgDemandList" resultMap="BaseResultMap">
    select
      bd.demand_id,
      bd.item_id,
      bd.unit_id,
      bd.`count`,
      bd.org_id,
      bd.bath_id,
      bd.is_meet,
      bd.create_by,
      bd.create_time,
      bd.update_by,
      bd.update_time,
      bi.item_name,
      bi.item_description,
      bu.unit_name,
      bb.path_name
    from b_demand bd
    LEFT JOIN b_item bi ON bi.item_id = bd.item_id
	LEFT JOIN b_unit bu ON bu.unit_id = bd.unit_id
	LEFT JOIN b_bath bb ON bb.bath_id = bd.bath_id
	LEFT JOIN s_user su ON su.org_id = bd.org_id
    where su.user_id = #{userId}
        and bd.bath_id = #{bathId}
    order by bd.create_time desc
  </select>

  <select id="getList" resultMap="BaseResultMap">
    select
      bd.demand_id,
      bd.item_id,
      bd.unit_id,
      bd.`count`,
      bd.org_id,
      bd.bath_id,
      bd.is_meet,
      bd.create_by,
      bd.create_time,
      bd.update_by,
      bd.update_time,
      bi.item_name,
      bi.item_description,
      bu.unit_name,
      bb.path_name
    from b_demand bd
    LEFT JOIN b_item bi ON bi.item_id = bd.item_id
	LEFT JOIN b_unit bu ON bu.unit_id = bd.unit_id
	LEFT JOIN b_bath bb ON bb.bath_id = bd.bath_id
    <where>
      <if test="demandId != null and demandId != ''">
        and bd.demand_id = #{demandId}
      </if>
      <if test="itemId != null and itemId != ''">
        and bd.item_id = #{itemId}
      </if>
      <if test="unitId != null and unitId != ''">
        and bd.unit_id = #{unitId}
      </if>
      <if test="orgId != null and orgId != ''">
        and bd.org_id = #{orgId}
      </if>
      <if test="bathId != null and bathId != ''">
        and bd.bath_id = #{bathId}
      </if>
      <if test="isMeet != null and isMeet != ''">
        and bd.is_meet = #{isMeet}
      </if>
    </where>
    order by bd.create_time desc
  </select>

</mapper>
