<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgkx.procurement.mapper.ProcurementMapper">
  <resultMap id="BaseResultMap" type="com.xgkx.procurement.entity.Procurement">
    <id column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="pro_time" jdbcType="TIMESTAMP" property="proTime" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="is_pay" jdbcType="BOOLEAN" property="isPay" />
    <result column="is_arrive" jdbcType="BOOLEAN" property="isArrive" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, pro_time, org_id, item_id, unit_id, price, `count`, is_pay, is_arrive, cost,
    create_by, create_time, update_by, update_time
  </sql>

  <select id="getProList" resultMap="BaseResultMap" parameterType="com.xgkx.procurement.entity.Procurement">
    select
        bp.pro_id,
        bp.pro_time,
        bp.org_id,
        bp.item_id,
        bp.unit_id,
        bp.price,
        bp.bath_id,
        bp.count,
        bi.item_name,
        bi.item_description,
        bu.unit_name
    from
        b_procurement bp
    left join
        b_unit bu
    on
        bu.unit_id = bp.unit_id
    left join
        b_item bi
    on
        bi.item_id = bp.item_id
    <where>
      <if test="orgId != null">
        and bp.org_id = #{orgId}
      </if>
      <if test="orgId != null">
        and bp.org_id = #{orgId}
      </if>
      <if test="bathId != null">
        and bp.bath_id = #{bathId}
      </if>
    </where>
  </select>

</mapper>
