<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgkx.procurement.mapper.UnitMapper">
  <resultMap id="BaseResultMap" type="com.xgkx.procurement.entity.Unit">
    <id column="bath_id" jdbcType="INTEGER" property="bathId" />
    <result column="path_name" jdbcType="VARCHAR" property="pathName" />
    <result column="report_start_time" jdbcType="TIMESTAMP" property="reportStartTime" />
    <result column="report_stop_time" jdbcType="TIMESTAMP" property="reportStopTime" />
    <result column="bath_status" jdbcType="INTEGER" property="bathStatus" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    bath_id, path_name, report_start_time, report_stop_time, bath_status, org_id, create_by,
    create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_bath
    where bath_id = #{bathId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_bath
    where bath_id = #{bathId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xgkx.procurement.entity.Unit">
    insert into b_bath (bath_id, path_name, report_start_time,
      report_stop_time, bath_status, org_id,
      create_by, create_time, update_by,
      update_time)
    values (#{bathId,jdbcType=INTEGER}, #{pathName,jdbcType=VARCHAR}, #{reportStartTime,jdbcType=TIMESTAMP},
      #{reportStopTime,jdbcType=TIMESTAMP}, #{bathStatus,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xgkx.procurement.entity.Unit">
    insert into b_bath
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bathId != null">
        bath_id,
      </if>
      <if test="pathName != null">
        path_name,
      </if>
      <if test="reportStartTime != null">
        report_start_time,
      </if>
      <if test="reportStopTime != null">
        report_stop_time,
      </if>
      <if test="bathStatus != null">
        bath_status,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bathId != null">
        #{bathId,jdbcType=INTEGER},
      </if>
      <if test="pathName != null">
        #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="reportStartTime != null">
        #{reportStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportStopTime != null">
        #{reportStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bathStatus != null">
        #{bathStatus,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgkx.procurement.entity.Unit">
    update b_bath
    <set>
      <if test="pathName != null">
        path_name = #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="reportStartTime != null">
        report_start_time = #{reportStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportStopTime != null">
        report_stop_time = #{reportStopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bathStatus != null">
        bath_status = #{bathStatus,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bath_id = #{bathId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgkx.procurement.entity.Unit">
    update b_bath
    set path_name = #{pathName,jdbcType=VARCHAR},
      report_start_time = #{reportStartTime,jdbcType=TIMESTAMP},
      report_stop_time = #{reportStopTime,jdbcType=TIMESTAMP},
      bath_status = #{bathStatus,jdbcType=INTEGER},
      org_id = #{orgId,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where bath_id = #{bathId,jdbcType=INTEGER}
  </update>
</mapper>
